In [1]:
from matplotlib import pyplot as plt
import pandas as pd
import numpy as np
import random
import re

In [2]:
comments = pd.read_csv('data/train-balanced-sarcasm.csv')

In [3]:
# Uncomment this when the testing is complete.
# subreddit_data = comments
# subreddit_data = pd.get_dummies(subbreddit_data['subreddit'], prefix='r',sparse=True)

# display(subreddit_data.head())

comments_test = comments[:10000] # Only use a slice when testing and building to improve performance
comments_test = comments
subreddit_data = pd.get_dummies(comments_test['subreddit'], prefix='r',sparse=True)

# display(subreddit_data.head())
# display(subreddit_data.shape)

,r_1200isplenty,r_1911,r_195,r_2007scape,r_2meirl4meirl,r_3DS,r_3Dprinting,r_3dshacks,r_40kLore,r_49ers,...,r_xboxone,r_yiff,r_yorickmains,r_youdontsurf,r_youngjustice,r_youtube,r_youtubehaiku,r_yugioh,r_zelda,r_zootopia
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

(10000, 1835)

In [36]:
# Drop everything except for the subreddit dummy values and the up/down scores and the labels
comments_test = comments[:10000].drop(['comment', 'subreddit', 'author', 'date', 'created_utc', 'parent_comment','score'], axis=1)
dummy_comments = pd.concat([comments_test, subreddit_data], axis=1)

# Take absolute value of each score since NBC's don't like negative numbers
dummy_comments['ups'] = abs(dummy_comments['ups'])
dummy_comments['downs'] = abs(dummy_comments['downs'])

# display(dummy_comments.head())

,label,ups,downs,r_1200isplenty,r_1911,r_195,r_2007scape,r_2meirl4meirl,r_3DS,r_3Dprinting,...,r_xboxone,r_yiff,r_yorickmains,r_youdontsurf,r_youngjustice,r_youtube,r_youtubehaiku,r_yugioh,r_zelda,r_zootopia
0,0,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [37]:
X = dummy_comments.drop('label', axis=1).values
y = dummy_comments.label.values

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y)

In [38]:
from sklearn.metrics import precision_recall_fscore_support
from sklearn.naive_bayes import MultinomialNB

clf = MultinomialNB()
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)

p,r,f,s = precision_recall_fscore_support(y_test, y_pred)
print(p, r, f, s)

[0.65272556 0.47580645] [0.87689394 0.19323144] [0.74838362 0.27484472] [1584  916]

In [32]:
display(dummy_comments.head())

,label,score,ups,downs,r_1200isplenty,r_1911,r_195,r_2007scape,r_2meirl4meirl,r_3DS,...,r_xboxone,r_yiff,r_yorickmains,r_youdontsurf,r_youngjustice,r_youtube,r_youtubehaiku,r_yugioh,r_zelda,r_zootopia
0,0,2,-1,-1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,-4,-1,-1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,3,3,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,-8,-1,-1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,6,-1,-1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0